@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Azure Web App Services- Github actions in effect</h1><h1>
       @ViewData["Greetings"]
        <h1>